{% extends 'reset_base.html' %}
{% block content %}
	<div class="content-section">
		<form method="POST" action="." class="login100-form validate-form">
			{% csrf_token %}
    				 
		<span class="login100-form-title">
			Reset Password
		</span>

		<div class="wrap-input100 validate-input" data-validate = "username">
			<input class="input100" type="text" name="email" placeholder="Email">
			<span class="focus-input100"></span>
			<span class="symbol-input100">
				<i class="fa fa-envelope" aria-hidden="true"></i>
			</span>
		</div>
					
		<div class="container-login100-form-btn">
			<button type="submit" class="login100-form-btn">
				Reset Password
			</button>
		</div>

		</form>
	</div>
{% endblock content %}