{% extends 'reset_base.html' %}
{% block content %}
  <div class="content-section">
      <form action="." method="POST" class="login100-form validate-form">
          {% csrf_token %}
          <span class="login100-form-title">
              Reset Password
          </span>

          <div class="wrap-input100 validate-input" data-validate = "Password is required">
              <input class="input100" type="password" name="new_password1" placeholder="Password">
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                  <i class="fa fa-lock" aria-hidden="true"></i>
              </span>
          </div>
          
          {% if form.errors %}
            {% for error in form.new_password1.errors %}
              <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
              </div>
            {% endfor %}
          {% endif %}

          <div class="wrap-input100 validate-input" data-validate = "Password is same">
              <input class="input100" type="password" name="new_password2" placeholder="ReEnter-Password">
              <span class="focus-input100"></span>
              <span class="symbol-input100">
                  <i class="fa fa-lock" aria-hidden="true"></i>
              </span>
          </div>

          {% if form.errors %}
            {% for error in form.new_password2.errors %}
              <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
              </div>
            {% endfor %}
          {% endif %}

          {% if form.errors %}
            {% for error in form.non_field_errors %}
              <div class="alert alert-danger">
              <strong>{{ error|escape }}</strong>
              </div>
            {% endfor %}
          {% endif %}
          
          <div class="container-login100-form-btn">
              <button type="submit" class="login100-form-btn">
                  Submit New Password
              </button>
          </div>
      </form>
  </div>
{% endblock content %}