{% extends "NavBar.html" %}
{% load static %}
{% block content %}
  <!DOCTYPE html>
  <html>
    <head lang="en">
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>SR-Novel-Website</title>
      <meta name="keywords" content="" />
      <meta name="description" content="" />
      <link href="{% static 'index/css/lib.min.css' %}" type="text/css" rel="stylesheet" />
      
      <link href="{% static 'index/css/index.css' %}" type="text/css" rel="stylesheet" />
      <script src="{% static 'index/js/seajq.js' %}" type="text/javascript"></script>
    </head>
    <body>
      <div class="header w1200 clearfix">
        <div class="fl">
          <a class="logo" title="SR-Novel-Website"> <img src="{% static 'index/images/siteLogo.png' %}"  /> </a>
        </div>
        <div class="fl" style="margin-left:20px;">
        </div>
        <div class="fr service">
          <span class="siteTel"></span>
        </div>
      </div>
     
    <div class="pageBady custom clearfix">


  <script src="{% static 'index/js/seajq.js' %}" type="text/javascript"></script>
 </head> 
 <body> 

  <div class="topNav clearfix"> 
   <div class="w1200"> 
    <ul class="fl funcTab"> 
     <li  class="pr">  
        <div style="" id="lotteryList">
           <div class="box">
            <a href="#"><span class="text fs16"><h2>marker list</h2></span></a>
           </div>

           <div class="box">
            <a href="#"><span class="text fs16">Book 1</span></a>
           </div>

           <div class="box">
            <a href="#"><span class="text fs16">Book 2</span></a>
           </div>

           <div class="box">
            <a href="#"><span class="text fs16">Book 3</span></a>
           </div>

           <div class="box">
            <a href="#"><span class="text fs16">Book 4</span></a>
           </div>

           <div class="box">
            <a href="#"><span class="text fs16">Book 5</span></a>
           </div>

           <div class="box">
            <a href="#"><span class="text fs16">Book 6</span></a>
           </div>

          </div> 
     </li> 
      
    </ul> 
   </div> 
  </div>

  <div class="pageBady custom clearfix"> 
   <div id="banner" class="clearfix"> 
    <div class="w1200 pr" style="z-index: 101;width:1199px;">
         <div id="flexslid">
         <!--图片滚动 start-->
              <div class="picScroll-top">
                Midlle pieces
            </div>

            <div class="loginBox"> 
      <div class="title"> 
       <h2><span>Favorite List </span><br /> <em class="fs12">DREAM CHANCE LIFE</em></h2> 
      </div> 

      <div class="title"> 
       <h2><span>Book1 </span></h2> 
       <h2><span>Book1 </span></h2> 
       <h2><span>Book1 </span></h2> 
       <h2><span>Book1 </span></h2> 
       <h2><span>Book1 </span></h2> 
       <h2><span>Book1 </span></h2> 
       <h2><span>Book1 </span></h2> 
      </div> 

     </div> 
            <script src="{% static './js/jquery.SuperSlide.2.1.1.js' %}"></script>
            <script>
            jQuery(".picScroll-top").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"topLoop",autoPlay:true,pnLoop:false,trigger:"click"});
			</script>
    	<!--图片滚动 end-->
        </div> 
     
    </div> 
   </div> 

   <div class="w1200 clearfix"> 
    <div class="maincontent"> 
     <div class="product clearfix"> 
      <ul> 
       <li class="safety"> <i></i> <h3 class="title">New book rank</h3> <p>.....，<br />......<br /></p> </li> 
       <li class="absorbed"> <i></i> <h3 class="title">finish book rank</h3> <p> ......<br /> ....<br /> .. </p> </li> 
       <li class="sincerity"> <i></i> <h3 class="title">hot book rank</h3> <p> .......<br /> ........<br /> ........ </p> </li> 
      </ul> 
     </div> 
     <div class="hotLottery"> 
      <h2 class="title">hotest 3 book summary </h2> 
      <ul class="ulList"> 
       <li> <span class="gameLogo-list"><i class="gameLogo ZJ11X5"></i></span> 
        <div class="desc"> 
         <p> summary</p> 
        </div> 
        <div class="lotbuy"> 
         <h2>rank 1</h2> 
         <a class="btn-org-112x36" href="#">quick look</a> 
        </div> </li> 
       <li> <span class="gameLogo-list"><i class="gameLogo CQSSC"></i></span> 
        <div class="desc"> 
         <p> summary 2 </p> 
        </div> 
        <div class="lotbuy"> 
         <h2>rank book2 </h2> 
         <a class="btn-org-112x36" href="#">quick look</a> 
        </div> </li> 
       <li class="noBor"> <span class="gameLogo-list"><i class="gameLogo JSKS"></i></span> 
        <div class="desc"> 
         <p> summary</p> 
        </div> 
        <div class="lotbuy"> 
         <h2>rank book 3</h2> 
         <a class="btn-org-112x36" href="#">quick look</a> 
        </div> </li> 
      </ul> 
      <div class="luckBet clearfix"> 
       
       <div class="luckcon"> 
        <div class="fl luckBox pr"> 
         <span class="gameLogo-list"><i class="gameLogo SSQ"></i></span> 
         <div class="desc"> 
          <p> rank book2</p> 
           
          <p> rank book </p> 
          
         </div> 
        </div> 
        
       </div> 
      </div> 
     </div> 
    </div> 
    <div class="siderBox"> 
     <div class="notice"> 
      <h2>Notice</h2> 
      <ul> 
       <li val="12"> <i></i> <a href="javascript:void(0)" style="color:#000000;">Notice2</a> <span class="fr">02-28</span> </li> 
       <li val="11"> <i></i> <a href="javascript:void(0)" style="color:#000000;">Notice1</a> <span class="fr">02-16</span> </li> 
       <li val="9"> <i></i> <a href="javascript:void(0)" style="color:#ED3507;">Notice3</a> <span class="fr">02-12</span> </li> 
       <li val="8"> <i></i> <a href="javascript:void(0)" style="color:#ED0F07;">Notice4</a> <span class="fr">02-09</span> </li> 
       <li val="7"> <i></i> <a href="javascript:void(0)" style="color:#1F0803;">Notice5</a> <span class="fr">02-06</span> </li> 
      </ul> 
     </div> 
     
 
    </div> 
    <div class="clear"></div> 
   </div> 
  </div> 

  <div class="side-nav-bar"> 
   <div id="sideMenu" class="pr"> 
    <ul> 
     <li class="side-nav-top" style="display: none;"> <a href="javascript:void(0)"></a> </li> 
    </ul> 
   </div> 
  </div> 
  <script type="text/javascript">
        seajs.use(FCSTATIC.FCJSURL + "user-info/accountInfo", function (acc) {
            acc.initPage();
        });
    </script> 
  <script>
        (function(window){
            var $ = window.jQuery,
                    docElem = window.document.documentElement,
                    $win = $(window),
                    tip = $(".side-nav-bar"),
                    visible = isVisible();
            function isVisible() {
                return docElem.clientWidth >= 1345;
            }
            $win.load(function() {
                if (visible) {
                    tip.show();
                }else{
                    tip.hide();
                }
            }).scroll(function(){
                var scrollT = $win.scrollTop();
                if (scrollT == 0) {
                    $(".side-nav-top").hide(300);
                }
                if (scrollT > 300) {
                    $(".side-nav-top").show(300);
                }
            }).resize(function(){
                if (visible ^ isVisible()) {
                    if (visible = ! visible) {
                        tip.show();
                    } else {
                        tip.hide();
                    }
                }
            });
            //返回顶部 我爱模板网
            $(".side-nav-top").click(function() {
                $("html,body").animate({ scrollTop: 0 }, 300);
                return false;
            });
        })(window);
    </script> 
  <script src="{% static 'index/js/jquery.flexslider.min.js' %}" type="text/javascript"></script> 
  <script type="text/javascript">
        seajs.use(FCSTATIC.FCJSURL + "index/index")
    </script> 
 </body>
</html>

{% endblock %}