{% extends "home_base.html" %}

{% block title %}<title>Edit Profile</title>{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="container-fluid" style="margin-bottom: 60px;">
    <div class="row">
      <div class="col-lg-4 col-centered">
        <h1 align="center">Upload book</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-7 col-centered">

        <form method="POST" enctype="multipart/form-data" >
          {% csrf_token %}
          {{ book_form|crispy }}
          
          <div class="form-group">     
            <div class="col-md-8">

              <input type="submit" class="btn btn-primary" value="Save Changes">

              <a href="{% url 'profile' %}" class="btn btn-default" value="Cancel">Cancel</a>

            </div>
          </div>

        </form>


      </div>
    </div>

  </div>
{% endblock %}