{% extends "home_base.html" %}
{% block content %}
	<!doctype html>
	<html lang="en">
		<head>
			<!-- Required meta tags -->
			<meta charset="utf-8">
			<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
			<!-- Bootstrap CSS -->
			
			{% block title%}<title>Book Index</title>{% endblock %}
		</head>
		<body>
			<h1>Book Detail</h1>
			<!-- Optional JavaScript -->
			<!-- jQuery first, then Popper.js, then Bootstrap JS -->
			
			<div class="card text-center">
				<div class="card-header">
					<ul class="nav nav-pills card-header-pills">
						<li class="nav-item">
							<a class="nav-link active" href="{% url 'book-detail' book.id %}">Main</a>
						</li>
						{% if author %}
						<li class="nav-item">
							<a class="nav-link" href="{% url 'book-update' book.id %}">Update Book</a>
						</li>
						{% endif %}
						</ul>
				</div>
				
				<div class="card-body">

					<img class="card-img-top" src="{{ book.bookImage.url }}" alt="Card image cap" style="width:300px; height:350px;">
					{% if object.bookFile %}
						<iframe class="card-img-top" src="{{object.bookFile.url}}" alt="Card image cap" style="width:600px; height:400px;"></iframe>
					{% endif %}
					<h5 class="card-title">Title: {{ object.title }}      Author: {{object.author}}     <br>Genre:
						{% for genre in object.genre.all %}
							{{genre}}
						{% endfor %} 
						<br>     
					Like:{{object.like}}</h5>
					<h5 class="card-title">ISBN: {{ object.isbn }}     Word Count: {{object.wordCount}}    Chapter Count: {{object.chapterCount}}    Date upload:{{object.date_uploaded}}</h5>
					<p class="card-text">Summary: {{ object.summary }}</p>
					{% if user.is_authenticated %}
					
						{% if favoriteBook %}
							<a href="{% url 'removeFavorite' book.id %}?next={{request.path}}" class="text-danger" title="unfavorite book"><i class="fa fa-heart"></i></a>
						{% else %}
							<a href="{% url 'addFavorite' book.id %}?next={{request.path}}" class="text-danger" title="favorite book"><i class="far fa-heart"></i></a>
						{% endif %}
					{% endif %}
				</div>

				{% if author %}
				<div>
					<form action="{% url 'chapter-create' book.id %}" method="POST" id="systemForm">
						{% csrf_token %}
						
						<button style="width: 300px;border-style: solid;border-color: green;cursor: pointer;" type="submit" name="system" value="{{ book.id }}" form="systemForm"> Add New Chapter</button>

					</form>
				</div>
				{% endif %}

				<div class="text-center" style="display: flex;text-align: center; margin: 0 auto;flex-wrap: wrap;width: 1000px;">
	  				{% for chapter in markers %}
						<div  style=" flex: 1 0 21%;border-style: solid;margin: 5px;height: 50px;text-align: center;" >
							<a href="{% url 'marker-detail' book.id chapter.id %}">{{ chapter.chapterId }}</a>
						</div>
					{% endfor %}
				</div>
			
		{% endblock %}
	</body>
</html>