{% extends "home_base.html" %}
{% block content %}
	<div id="container">
		<div class="sidenav" style="align-items: left;width: 350px;margin-left: 30px;margin-top: 10px;">

			<form method="GET" action="/application/books/" style="width: 1000px;">

				<input type="text" name="q" placeholder="Search" value ="{{ query|escape }}" style="margin-bottom: 20px;display: inline;">
	
				<b>
					<div style="display: inline;">
						{% for genre in genre_list %}
						<label class="checkbox-inline"> 
							{{ genre }}

							<input type="checkbox" style="margin-left: 5px;margin-right: 30px;" name="q" 
							value="{{ genre|escape }}"><span class="checkmark"></span>
						</label>

						{% endfor %}
					</div>
				</b>

				<p>
					<button class="btn btn-sm" type="submit" value="Search"  style="margin-left: 10px;">
						<span class="glyphicon glyphicon-search"></span> Search</button>
				</p>
			</form>
		</div>

		<div id="center" style="margin-left: 100px;margin-top: 10px;width: 900px">
			{% if not booklist %}
				<p> There is not Book match the Search </p>
			{% endif %}
			{% for book in booklist %}
				<article class="media content-section"  style="margin-left">
					<img class="rectangle article-img ml-10 mb-3 mr-3 mt-2" src="{{ book.bookImage.url }}" width="130px" height="160px">
					<div class="media-body ml-10 mb-3 mr-3 mt-2">
						
						<h2><a class = "article-title" href=" {% url 'book-detail' book.id %} "> TITLE: {{ book.title }} </a></h2>
						<div class="article-metadata">
							<a class="mr-2" href="#">AUTHOR: {{ book.author }}</a>
							<small class="test-muted">Genre: {% for genre in book.genre.all %}
								{{genre}}
							{% endfor %} <br>  CREATED AT: {{ book.date_uploaded|date:"F d, Y" }} <i class="far fa-heart text-danger"></i> {{book.like}} </small>
						</div>
						<p class="article-content">SUMMARY:<br> {{ book.summary }} in list html</p>
					</div>
				</article>
			{% endfor %}
			<div style="width:1500px; margin:0 auto;margin-top: 20px">
				{% if is_paginated %}
					{% if page_obj.has_previous %}
						{% if searchq %}
							<a class="btn btn-outline-info mb-4" href="?{{searchq}}&page=1">First</a>
							<a class="btn btn-outline-info mb-4" href="?{{searchq}}&page= {{ page_obj.previous_page_number }}">Previous</a>
						{% else %}
							<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
							<a class="btn btn-outline-info mb-4" href="?page= {{ page_obj.previous_page_number }}">Previous</a>
						{% endif %}
					{% endif %}
					{% for num in page_obj.paginator.page_range %}
						{% if page_obj.number == num %}
							{% if searchq %}
								<a class="btn btn-info mb-4" href="?{{searchq}}&page={{ num }}"> {{ num }}</a>
							{% else %}
								<a class="btn btn-info mb-4" href="?page={{ num }}"> {{ num }}</a>
							{% endif %}
							{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
							
							{% if searchq %}
								<a class="btn btn-outline-info mb-4" href="?{{searchq}}&page={{ num }}"> {{ num }}</a>
							{% else %}
								<a class="btn btn-outline-info mb-4" href="?page={{ num }}"> {{ num }}</a>
							{% endif %}
						{% endif %}
					{% endfor %}
					{% if page_obj.has_next %}
						{% if searchq %}
							<a class="btn btn-outline-info mb-4" href="?{{searchq}}&page= {{ page_obj.next_page_number }}">Next</a>
							<a class="btn btn-outline-info mb-4" href="?{{searchq}}&page= {{ page_obj.paginator.num_pages }}">Last</a>
						{% else %}
							<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
							<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
						{% endif %}
					{% endif%}
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}