{% extends "home_base.html" %}

<!-- title -->
{% block title%}<title>Delete Chapter</title>{% endblock %}

{% load static %}

<!-- css -->
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'application/editProfile/edit_profile.css' %}" />{% endblock %}

{% block content %}
  <div class="container-fluid" >
    <div class="row" style="text-align: center;">

        <h2 >Delete Chapter: {{ object.chapterId }} <br> For Book: {{ object.book.title }}</h2>


    </div>

    <div> <h1 style="color: red"> <br>Are You Sure?</h1> </div>
    <div class="row" >
      <div class="col-lg-7 col-centered">

        <form method="post">
            {% csrf_token %}

            <div class="form-group">
              
              <div class="col-md-8">
                <button type="submit" class="btn btn-outline-danger" value="Yes, Delete">Yes, Delete</button>
                <a href="{% url 'book-detail' object.book.id %}" class="btn btn-outline-secondary" value="Cancel">Cancel</a>
              <!-- <div class="input"><a href="{% url 'profile' %}"></a></div> -->
              </div>

            </div>
        </form>

      </div>
    </div>
  </div>
{% endblock %}