{% extends "home_base.html" %}
{% block content %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    

 {% block title%}<title>Chapter: {{ object.chapterId }}</title>{% endblock %}
  </head>
  <body>
    <h1 align="center" >Chapter : {{ object.chapterId }}</h1>
    <ul class="fa-ul">
  <li><i class="fa-li fa fa-check-square"></i>List icons</li>
  
  <li><i class="fa-li fa fa-square"></i>List icons</li>
</ul>
    <p> Content: </p>
    <div style="text-align: center;">{{object.content}}</div>
    <a href="{% url 'marker-update' object.book.id object.id %}" style="margin-left: 20px;">UPDATE</a>
    <a href="{% url 'book-detail' object.book.id %}" style="margin-left: 30px;">Back To Book Page</a>
    <a href="{% url 'marker-delete' object.book.id object.id %}" style="margin-left: 20px;">DELETE</a>

{% endblock %}
  </body>
</html>



