{% extends "home_base.html" %}

<!-- title -->
{% block title%}<title>Delete Chapter</title>{% endblock %}

{% load static %}

<!-- css -->
{% block css %}<link rel="stylesheet" type="text/css" href="{% static 'application/editProfile/edit_profile.css' %}" />{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-centered">
      <h1 align="center">Delete Chapter: {{ object.chapterId }} <br> For Book: {{ book_object.title }}</h1>
    </div>
  </div>
    <div class="row">
      <div class="col-lg-7 col-centered">

        <form method="post">
            {% csrf_token %}

            <tr>
            <div class="form-group">
              <label class="col-md-3 control-label"></label>
              <div class="col-md-8">
                <button type="submit" class="btn btn-primary" value="Yes, Delete">
              
              <a href="{% url 'book-detail' object.book.id %}" class="btn btn-outline-secondary" value="Cancel">Cancel</a>
              <!-- <div class="input"><a href="{% url 'profile' %}"></a></div> -->
              </div>
            </div>
        </form>

      </div>
    </div>
</div>
{% endblock %}