{% extends "home_base.html" %}
{% block content %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    

 {% block title%}<title>Chapter: {{ object.chapterId }}</title>{% endblock %}
  </head>
  <body>
    <h1 align="center">Chapter : {{ object.chapterId }}</h1>
    <p> Content: </p>
    <div style="text-align: center;">{{object.content}}</div>
    <a href="{% url 'marker-update' object.book.id object.id %}">update</a>
{% endblock %}
  </body>
</html>



